/* 
    Document   : allsystem
    Created on : 21/08/2012, 14:40:29
    Author     : fabiopratta
    Description:
        Purpose of the stylesheet follows.
*/

/*** LOGIN FORM ***/

/*** @SEE login/index **/
#login_usuario {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    
}

#login_usuario .left{
    float: left;
    width: 40%;
    border-right: solid 1px #d1ecf7;
    height: 300px;
}

#login_usuario .left p{
    padding-top: 20px;
    font-size: 14px;
}

#login_usuario .right{
    width: 40%;
    float: left;
    margin-left: 20px;
}


#login_usuario .right h1{
    font-size: 16px;
    color: #003663;
    margin-left:10px;
}




/**** WEBDESK ****/

/** LISTS **/
#list {
    width: 100%;
    margin-top: 40px;
}

.tickets table {
    width: 100%;
}


/*** TICKET INFO ***/

#ticket-info{
    width: 70%;
    padding: 10px;
}

#ticket-info .info-ticket {
    background-color: #f2f2f2;
    padding: 20px;
     color: #333;
}

#ticket-info .info-ticket h2{
    font-weight: normal;
    margin-left: 2px;
    font-size: 16px;
}
#ticket-info .info-ticket h2 img{
    vertical-align: middle;
}

#ticket-info .info-ticket h1{
    font-size: 26px;
    font-weight: bold;
}

#ticket-info .info-ticket p {
    font-size: 18px;
}

#ticket-info .data-ticket{
    margin-top: 15px;
    border: 1px #cccccc solid;
    padding: 20px;
    color: #333;
}

#ticket-info .data-ticket strong{
    font-size: 14px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;

}

#ticket-info .interacao-ticket {
   
}

#ticket-info .interacao-ticket .interacao{
    margin: 0;
    padding: 0;
    border-bottom: 1px #333333 solid;
    padding-bottom: 3px;
    background-color: #f2f2f2;
    margin-top: 10px;
    font-family: "Lucida Sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
    border: 1px #cccccc solid;
}


#ticket-info .interacao-ticket .interacao-header-fixo{
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
    background-color: #f2f2f2;
    font-family: "Lucida Sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
    border: 1px #cccccc solid;
}

#ticket-info .interacao-ticket .interacao-header-fixo h3 a{
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 7px;
    color: #888;
}

#ticket-info .interacao-ticket .interacao-header-fixo h4{
    float: right; 
    margin: 0;
    padding: 0;
    margin-right: 7px;
    font-weight: normal;
    font-family: "Lucida Sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
    color: #999;
}



#ticket-info .interacao-ticket .interacao .interacao-header h3 a{
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 7px;
    text-decoration: none;
    color: #555555;
}

#ticket-info .interacao-ticket .interacao .interacao-header h4{
    float: right; 
    margin: 0;
    padding: 0;
    margin-right: 7px;
    font-weight: normal;
    font-family: "Lucida Sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
    color: #666;
}

#ticket-info .interacao-ticket .interacao .interacao-description {
    margin-top: 7px; 
    margin-left: 7px;
    margin-right: 7px;
    color: #555;
    text-align: justify;
    font-size: 14px;
}

#ticket-info .interacao-ticket .interacao .interacao-anexos{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    color:#444;
}

#ticket-info .interacao-ticket .interacao .interacao-anexos a{
 text-decoration: none;
 color: #003663;
 font-size: 12px;
}

/*** DEFAULT PAGE START ***/
.startPage{
    width: 30%;
    background-color: #fcfcfc;
    color:#333;
    float: left;
    margin:20px;
    padding: 10px;
    
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


